dist/*.exe filter=lfs diff=lfs merge=lfs -text
build/**/*.pkg filter=lfs diff=lfs merge=lfs -text
dist/mainApp.exe filter=lfs diff=lfs merge=lfs -text
build/mainApp/mainApp.pkg filter=lfs diff=lfs merge=lfs -text
